<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.graphql_prac_.Repository.UserRepository">
    <sql id="userColumns">
        user_email,
        user_password,
        user_name
    </sql>

    <insert id="createUser" parameterType="com.example.graphql_prac_.DTO.UserResponseDto">
        INSERT INTO user(
                         <include refid="userColumns"/>
        )VALUES (
                 #{user_email},
                 #{user_password},
                 #{user_name}
        )
    </insert>

    <select id="getUsers" resultType="com.example.graphql_prac_.DTO.UserResponseDto">
        SELECT user_id, user_email, user_password, user_name FROM user
    </select>
</mapper>