<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.graphql_prac_.DTO.UserResponseDto" alias="userMapperDto"/>
    </typeAliases>
    <mappers>
    </mappers>
</configuration>